doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        title DNS Deamon
        
        script(src="/socket.io/socket.io.js")
        
        link(rel="stylesheet",href="/ext/packages/ext-theme-neptune-touch/build/resources/ext-theme-neptune-touch-all.css")
        script(src=basePath+"/ext/ext-all.js")
        script(src="/tualo-extjs-socketio/data/proxy/SocketIO.js")
        script(src="/Application.js")
        
    body
        